<!DOCTYPE html>
<html lang="en">
   <head>
      {% load static %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="{% static 'assets/FridgeRaiderIcon.ico' %}">

      <title>FridgeRaider | About</title>

      <!-- Bootstrap core CSS -->
      <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="{% static 'css/home.css' %}" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>

   <body>
   {% include "navbar.html" %}
   <div class="container marketing">

      <div class="starter-template">
         <div class="col-md-6">
            <p class="lead">
               FridgeRaider is currently in the initial stages of development. If you have any questions, comments, or suggestions, please feel free to send me an email.
            </p>
         </div>
         <div class="col-md-6">
            <p class="lead">
               Tim Furlong<br>
               <a href="mailto:furlong.tim@gmail.com?subject=FridgeRaider">
                  furlong.tim@gmail.com
               </a>
            </p>
         </div>
      </div>

   </div>

   </body>


</html>