<!DOCTYPE html>
<html lang="en">
   <head>
      {% load static %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="{% static 'assets/FridgeRaiderIcon.ico' %}">

      <title>FridgeRaider | Home</title>

      <!-- Bootstrap core CSS -->
      <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="{% static 'css/home.css' %}" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>

   <body>

      {% include "navbar.html" %}

      <div class="container marketing">

         <div class="starter-template">
            <div class="jumbotron">
               <h1>Welcome to <b>Fridge</b>Raider
               </h1>
               <p class="lead">FridgeRaider can tell you what recipes you can make using only the ingredients you already have.</p>
               <p><a class="btn btn-primary btn-lg" href="/search" role="button">Get started &raquo;</a></p>
            </div>
         </div><!-- /.starter-template -->

         <div class="row">
           <div class="col-lg-4 infoBox">
             <img class="img-circle" src="{% static 'assets/FridgeRaiderIconSquare.svg' %}" alt="">
             <h2>No need to go to the grocery</h2>
             <p>Cooking great food shouldn't take up your whole day. Skip the trip to the store and cook only the recipes that you can make right away. That way you can save yourself some money, time, and hassle.</p>
           </div>
           <div class="col-lg-4 infoBox">
             <img class="img-circle" src="{% static 'assets/groceries.jpg' %}" alt="">
             <h2>Change the way you shop</h2>
             <p>With FridgeRaider, you don't need to think about what you're going to make with everything you put in your cart. If you like onions, get onions. If you need some more green vegetables in your diet, buy a few of your favorites. Let us take care of how you're going to prepare it.</p>
           </div>
           <div class="col-lg-4 infoBox">
             <img class="img-circle" src="{% static 'assets/yummlyLogo.jpg' %}" alt="">
             <h2>Search over a million recipes</h2>
             <p>FridgeRaider searches the world's largest database of recipes at <a href="http://www.Yummly.com">Yummly.com</a>. Yummly includes recipes from over one hundred different sources, like: AllRecipes, Epicurious, EveryDay with Rachael Ray, Martha Stewart, MyRecipes, Serious Eats, and Taste of Home.  </p>
           </div>
         </div><!-- /.row -->

         <div id="footer">
            <div class="container">
               <div class="col-md-12">
                  <p class="text-muted text-center">Created by Tim Furlong</p>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
      <!-- Custom jQuery for this template -->
      <script src="{% static 'js/home.js' %}"></script>
   </body>
</html>



