<!DOCTYPE html>
<html lang="en">
  <head>
   {% load static %}
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Recipes with only what you already have.">
   <meta name="author" content="">
   <link rel="shortcut icon" href="{% static 'img/FridgeRaiderIcon.ico' %}">

   <title>FridgeRaider | Recipe Search</title>

   <!-- Bootstrap core CSS -->
   <link href="{% static 'bootstrap/bootstrap.min.css'%}" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="{% static 'css/search.css' %}" rel="stylesheet">

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
  </head>

  <body>

   {% include "navbar.html" %}

   <div class="container">

      <div class="starter-template">
         <form action="" id='ingredientsForm'>
            <div class="input-group">
               <span class="input-group-addon">Ingredients:</span>
               {% if q %}
                  <input type="text" name="IngredientsList" id="IngredientsInput" class="form-control" placeholder="For example: onions, bok choy, coconut milk" value="{{ q }}">
               {% else %}
                  <input type="text" name="IngredientsList" id="IngredientsInput" class="form-control" placeholder="For example: onions, bok choy, coconut milk">
               {% endif %}
            </div>
         </form>

         {% if q %}
            {% if matches %}
               <div class="alert alert-info">
                  <p>{{ infoMsg }}</p>
               </div>
               <div class="row row-padded">
               {%for r in matches %}
                  <div class="col-md-3 recipeDescriptionBox">
                     <a href="{{ r.yummlyUrl }}" target="_blank">
                        <img src="{{ r.imageUrlsBySize.230 }}" class="img-rounded">
                     </a>
                     <h3 class="recipeTitle">{{ r.recipeName }}</h3>
                     <p class="text-muted">{{ r.ingredientsStr|truncatechars:110 }}</p>
                  </div>
                  {% if forloop.counter|divisibleby:"4" %}
                     </div>
                     <div class="row row-padded">
                  {% endif %}
               {% endfor %}
                     </div> {# close the last recipeDescription box #}
               <ul class="pager">
                  {% ifnotequal page '1' %}
                     <li><a href="?IngredientsList={{ q }}&page={{ page|add:-1 }}">Previous</a></li>
                  {% endifnotequal %}
                  {% ifnotequal page maxPage %}
                     <li><a href="?IngredientsList={{ q }}&page={{ page|add:1 }}">Next</a></li>
                  {% endifnotequal %}
               </ul>

               <div id="footer">
                  <div class="col-md-6">
                     <p class="text-muted text-left">
                        Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <p class="text-muted text-right">Created by Tim Furlong</p>
                  </div>
               </div>
            {% else %}
               <div class="row row-padded">
                  <div class="alert alert-danger">
                     <p>{{ errorMsg }}</p>
                  </div>
               </div>
            {% endif %}
         {% endif %}
      </div>

   </div>{# end .container #}
</body>
</html>